.container {
    padding: 0;
    background-color: #282b30;
    height: 100vh;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.hide {
    height: 0;
    animation: slide-out .5s forwards;
}

.show {
    opacity: 100%;
    animation: slide-in .5s forwards;
    visibility: visible;
}

.warn {
    box-shadow: 0px 0px 2px 1px #ff5555;
}
/*Linha Vertical*/
.vline {
    border-left: 1px #18191b solid;
    height: 90vh;
    margin-top: -25px;
}
.hline{
    border-top: 1px var(--purple) solid;
    width: 90%;
    margin-top: 15px;
    margin-left: 8px;
}
/* Animações de Entrada e Saida */
@keyframes slide-in {
    0% {
        -webkit-transform: translateX(100%);
        opacity: 0%;
    }

    100% {
        -webkit-transform: translateX(0%);
        opacity: 100%;
    }
}

@keyframes slide-out {
    0% {
        opacity: 100%;
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
        opacity: 0%;
        visibility: hidden;
    }
}

/*******************************************************************************************************
*****************************************[Windows Title & Buttons]**************************************
*******************************************************************************************************/

header {
    display: flex;
    flex-direction: row;
    background-color: #202225;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0.01px #18191b solid;
}

header h1 {
    text-align: center;
    font-size: 1.25rem;
    width: 100%;
    font-weight: bold;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

header div.window-buttons {
    display: inline-flex;
    fill: var(--text);
    margin-top: 6px;
}

header div.config {
    display: inline-flex;
    fill: var(--text);
}

header w-buttons {
    display: inline-flex;
    fill: var(--text);
}

header w-buttons svg,
header w-buttons svg path {
    cursor: pointer;
    fill: #FFF;
    height: 100%;
    transition: .2s ease 0s;
}

/********************************
***********[Buttons]************
********************************/
.hideWindow,
.minimizeWindow,
.closeWindow {
    margin-inline: 0px 20px;
}


.gearConfig {
    margin-left: 10px;
}

.gearConfig:hover path {
    transition: .3s ease 0s;
    fill: var(--purple);
}

.hideWindow {
    width: 16px;
}

.minimizeWindow {
    width: 17px;
}

.closeWindow {
    width: 18px;
    margin-right: 9px;
    padding: 1px;
    border-top-right-radius: 4px;
}

.hideWindow:hover {
    transition: .03s ease 0s;
    background-color: var(--purple);
    box-shadow: 9px -3px 0px 3px var(--purple), -8px -3px 0px 3px var(--purple);
}

.minimizeWindow:hover {
    transition: .03s ease 0s;
    background-color: var(--blue);
    box-shadow: -5px -3px 0px 3px var(--blue), 5px -3px 0px 3px var(--blue);
}

.closeWindow:hover {
    transition: .03s ease 0s;
    background-color: var(--red);
    box-shadow: 9px 0px 0px 0.2px var(--red), -11px 0px 0px 0.2px var(--red);
}
/************************************************
*******************[Wrappers & Boxes]*************
************************************************/

div.conectBox,
div.mainBox {
    display: flex;
    margin-top: 30px;
    width: 100vw;
}

.UserWrapper {
    width: 20%;
    height: 93vh;
    margin-top: -30px;
    background-color: #18191c;
}

.UserWrapper #UserBox {
    text-align: center;
    margin-top: 3em;
}
/********************************
***********[Login Box]************
********************************/
div.loginBox {
    width: 50%;
}

div.loginBox,
div.channelsManager {
    text-align: center;
    margin-inline: 20px;
}

.loading,
.loading:hover {
    background-color: #44475a !important;
    border-color: #44475a !important;
    background-image: url("./extra/loading.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: default;
}

.conectado {
    background-color: #b616163b !important;
    border: 1px solid var(--red) !important;
    color: var(--red) !important;
    font-weight: bold;
}

.conectado:hover {
    background-color: var(--red) !important;
    border: 1px solid var(--red) !important;
    color: #f8f8f2 !important;
}

.loginBox p {
    margin-top: 12px;
    font-weight: bold;
}

.channelsManager input[type='text']:focus,
.channelsManager input[type='text']:hover {
    transition: .2s ease-in-out 0s;
    width: 70%;
    background-color: #FFF;
    box-shadow: 0px 0px 0px 2px var(--purple);
}

.loginBox input[type='password']:hover,
.loginBox input[type='text']:hover,
.loginBox input[type='password']:focus,
.loginBox input[type='text']:focus {
    transition: .2s ease-in-out 0s;
    width: 76%;
    background-color: #FFF;
    box-shadow: 0px 0px 0px 2px var(--blue);
}

.channelsManager input[type='text']:disabled:hover,
.loginBox input[type='password']:disabled:hover,
.loginBox input[type='text']:disabled:hover,
.loginBox input[type='password']:disabled,
.loginBox input[type='text']:disabled {
    transition: .5s ease 0s;
    background-color: var(--disable);
    color: white;
    cursor: not-allowed;
    width: 70%;
    text-align: center;
    box-shadow: none;
}

.channelsManager input[type='text'],
.channelsManager input[type='text'],
.loginBox input[type='password'],
.loginBox input[type='text'] {
    margin-top: 4px;
    border-radius: 20px;
    width: 70%;
    height: 25px;
    padding: 2px 10px 2px 10px;
    font-size: 16px;
    background-color: #d0d0d0;
    transition: .2s ease-in-out;
}

.loginBox .help {
    display: flex;
    flex-direction: row-reverse;
    width: 82%;
}

.loginBox .help p {
    margin-top: 3px;
    font-size: 13.5px;
    text-align: center;
    color: var(--blue);
    font-weight: 200;
    text-decoration: none;
    cursor: pointer;
}

.loginBox .help a {
    text-decoration: none;
}

.loginBox .help a:hover>p {
    color: var(--purple);
    text-decoration: underline;
}

/************************************************
********************[Botão Login]***************
************************************************/
.UserWrapper input[type="button"],
.loginBox input[type="button"] {
    color: #FFF;
    border: 1px solid #0066aa;
    background-color: #0268acc5;
    border-radius: 15px;
    font-size: 18px;
    width: 30%;
    height: 30px;
    vertical-align: middle;
    cursor: pointer;
    transition: .5s ease 0s;
}

.UserWrapper input[type="button"] {
    width: 70%;
    margin-left: 30px;
}

.UserWrapper input[type="button"]:hover,
.loginBox input[type=button]:hover {
    color: #FFF;
    background-color: #0184db;
    border: 1x solid #42b3ff;
    cursor: pointer;
    transition: .5s ease 0s;
}

/* Msg Status & Barra de Count de Canais */
#msgStatus {
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    font-weight: normal;
}

#cnCount {
    margin: 10px auto;
    font-size: 15px;
    background-color: #222325;
    border-radius: 15px;
    width: 31%;
    position: fixed;
    left: 109px;
    bottom: 90px;
}
/**************************************************
******** Gerenciar Canais *************************
**************************************************/
.channelsManager {
    width: 40%;
    height: 185px;
    border-radius: 5%;
    transition: 2s ease 0s;
}

.channelsManager input::placeholder {
    text-align: center;
}

.channelsManager p.title {
    margin-top: 15px;
    font-weight: bold;
}

/*************************************************
********Botões Adicionar & Remover Canais*********
*************************************************/
.add {
    color: #FFF;
    background-color: #0c639c;
    border: 1px #0099ff solid;
    transition: .5s ease 0s;
}

.delete,
.remove {
    background-color: #d4414100;
    color: #d44141;
    border: 1px #d44141 solid;
    transition: .5s ease 0s;
}

.add:hover {
    color: #ffffff;
    background-color: var(--blue);
    transition: .5s ease 0s;
}

.delete:hover,
.remove:hover {
    color: #ffffff;
    background-color: var(--red);
    border: 1px #d44141 solid;
    transition: .5s ease 0s;

}

.channelsManager input[type='text']:disabled::placeholder {
    color: white;
    text-align: center;
    cursor: not-allowed;
    transition: .5s ease 0s;
}

.channelsManager input[type='text'] {
    margin-top: 4px;
    border-radius: 20px;
    width: 70%;
    height: 25px;
    padding: 2px 10px 2px 10px;
    font-size: 16px;
    background-color: #d0d0d0;
    transition: .3s ease 0s;
}
.cnFile.block,
.cnFile.block:hover,
.channelsManager input[type='text']:disabled,
.channelsManager input[type='button']:disabled {
    background-color: var(--disable);
    cursor: not-allowed;
    color: #282b30;
    transition: .5s ease 0s;
    border: 1px solid #282b30;
}

.channelsManager input[type='button'] {
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    top: 5px;
    width: 26px;
}

.channelsManager .status {
    font-weight: 300;
    margin-top: 5px;
}

#canalLog i {
    font-size: 23px;
    position: relative;
    top: 5px;
}
/* Botão Carregar Arquivos */
.cnFile {
    font-size: 15px;
    height: 35px;
    width: 180px;
    background: #0099ff54;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s ease 0s;
}

.cnFile:hover {
    transition: 1s ease 0s;
    background-color: #0099ff;
}

.cnFile i {
    position: relative;
    cursor: pointer;
    top: 6px;
}

/**************************************
****************AVATAR*****************
***************************************/
.avatar {
    border-radius: 50%;
    width: 100px;
    pointer-events: none;
    border: 1.25px solid #9148ff;
}

/**************************************
****************Table de Pings*********
***************************************/
div#mentionsbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div#mentionsbar input[name="clearPing"]{
    cursor: pointer;
    width: 40px;
    border-radius: 5px;
    margin-right: 10px;
}

.mentionsWrapper {
    margin-left: 15px;
}

.mentionsWrapper p {
    font-weight: bold;
}

textarea {
    resize: none;
    border-radius: 10px;
    display: inline-block;
    padding: 6px 2px 0px 5px;
    margin: 10px 6px 0px;
    width: 580px;
    background-color: #0c0c0c;
    color: #FFF;
}

textarea::-webkit-scrollbar {
    width: 14px;
    border-radius: 5px;
}

*::-webkit-scrollbar-track {
    background: #222222;
    border-radius: 5px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #3f3f3f;
    border-radius: 20px;
    border: 1px solid #000000;
    transition: .1s ease-in-out;
}

textarea::-webkit-scrollbar-thumb:hover {
    background-color: #575757;
    transition: .1s ease-in-out;
}

/********************************
*********NOTIFICAÇÕES************
*********************************/
.NotifyWrapper{
    margin-top: 10px;
    text-align: center;
}
.NotifyWrapper p .title{
    font-weight: 700;
    font-size: 12px;
}
.NotifyWrapper switch_container{
    display: flex;
    flex-direction: column;
    margin-inline: 8px;
    margin-top: 8px;
}
switch_container div{
    flex-direction: row;
    display: flex;
}
switch_container div p{
    margin-inline: 5px;
}
p.beta{
    font-size: 11px;
    margin-left: -8px;
    margin-top: -6px;
    color: #ff5555;
    font-weight: bold;
}

.switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
    cursor: pointer;
    user-select: none;
}

.switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.switch--shadow + label {
    padding: 2px;
    width: 40px;
    height: 20px;
    border-radius: 60px;
}

.switch--shadow:disabled + label,
.switch--shadow:disabled + label::before,
.switch--shadow:disabled + label::after{
    cursor: not-allowed;
    background-color: var(--disable);
    border: none;
}
.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  cursor: pointer;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: '';
}
.switch--shadow + label:before {
  right: 1px;
  right: 1px;
  border-radius: 60px;
  background-color: #9a9a9a;
  border: 1px solid #f1f1f1;
  transition: all 0.4s;
}
.switch--shadow + label:after {
  width: 18px;
  background-color: #9148ff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

.switch--shadow:checked + label:before {
    background-color: var(--purple);
    border: 1px solid #731cf5;
}
.switch--shadow:checked + label:after {
    background-color: #ffffff;
    transform: translateX(20px);
}