.container {
    padding: 0;
    background-color: #282b30;
    height: 100vh;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.hide {
    height: 0;
    animation: slide-out .5s forwards;
}

.show {
    opacity: 100%;
    animation: slide-in .5s forwards;
    visibility: visible;
}

.warn {
    box-shadow: 0px 0px 2px 1px #ff5555;
}

#Ptotal {
    width: 156px;
    margin-right: -60px;
}

/*Linha Vertical*/
.vline {
    border-left: 1px #18191b solid;
    height: 90vh;
}

/*Linha Horizontal*/
.hline {
    border-top: 1px var(--purple) solid;
    width: 90%;
}

/* Animações de Entrada e Saida */
@keyframes slide-in {
    0% {
        -webkit-transform: translateX(100%);
        opacity: 0%;
    }

    100% {
        -webkit-transform: translateX(0%);
        opacity: 100%;
    }
}

@keyframes slide-out {
    0% {
        opacity: 100%;
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
        opacity: 0%;
        visibility: hidden;
    }
}

/*******************************************************************************************************
*****************************************[Windows Title & Buttons]**************************************
*******************************************************************************************************/

header {
    display: flex;
    flex-direction: row;
    background-color: #202225;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0.01px #18191b solid;
}

header h1 {
    text-align: center;
    font-size: 1.25rem;
    width: 100%;
    font-weight: bold;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

header div.window-buttons {
    display: inline-flex;
    fill: var(--text);
    margin-top: 6px;
}

header div.config {
    display: inline-flex;
    fill: var(--text);
}

header w-buttons {
    display: inline-flex;
    fill: var(--text);
}

header w-buttons svg,
header w-buttons svg path {
    cursor: pointer;
    fill: #FFF;
    height: 100%;
    transition: .2s ease 0s;
}

/********************************
***********[Buttons]************
********************************/
.hideWindow,
.minimizeWindow,
.closeWindow {
    margin-inline: 0px 20px;
}

svg[name="menuConfig"] {
    margin-left: 15px;
}

.gearConfig {
    margin-left: 10px;
}

svg[name="menuConfig"]:hover path,
.gearConfig:hover path {
    transition: .3s ease 0s;
    fill: var(--purple);
}

.hideWindow {
    width: 16px;
}

.minimizeWindow {
    width: 17px;
}

.closeWindow {
    width: 18px;
    margin-right: 9px;
    padding: 1px;
    border-top-right-radius: 4px;
}

.hideWindow:hover {
    transition: .03s ease 0s;
    background-color: var(--purple);
    box-shadow: 9px -3px 0px 3px var(--purple), -8px -3px 0px 3px var(--purple);
}

.minimizeWindow:hover {
    transition: .03s ease 0s;
    background-color: var(--blue);
    box-shadow: -5px -3px 0px 3px var(--blue), 5px -3px 0px 3px var(--blue);
}

.closeWindow:hover {
    transition: .03s ease 0s;
    background-color: var(--red);
    box-shadow: 9px 0px 0px 0.2px var(--red), -11px 0px 0px 0.2px var(--red);
}

/************************************************
*******************[Wrappers & Boxes]*************
************************************************/

div.conectBox,
div.mainBox {
    display: flex;
    width: 100vw;
}

.UserWrapper {
    width: 22vw;
    max-width: 210px;
    height: 100vh;
    background-color: #18191c;
}

.UserWrapper .hline {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 5px;
}

.UserWrapper #UserBox {
    text-align: center;
    margin-top: 1.8em;
}

/********************************
***********[Login Box]************
********************************/
div.loginBox {
    width: 50%;
    max-width: 500px;
}

div.loginBox,
div.channelsManager {
    text-align: center;
    height: fit-content;
    margin-inline: 20px;
    margin-top: 4em;
}

.loading,
.loading:hover {
    background-color: #44475a !important;
    border-color: #44475a !important;
    background-image: url("./extra/loading.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: default;
}

.conectado {
    background-color: #b616163b !important;
    border: 1px solid var(--red) !important;
    color: var(--red) !important;
    font-weight: bold;
}

.conectado:hover {
    background-color: var(--red) !important;
    border: 1px solid var(--red) !important;
    color: #f8f8f2 !important;
}

.loginBox p {
    margin-top: 15px;
    font-weight: bold;
}

.channelsManager input[type='text']:focus,
.channelsManager input[type='text']:hover {
    transition: .2s ease-in-out 0s;
    width: 75%;
    background-color: #FFF;
    box-shadow: 0px 0px 0px 2px var(--purple);
}

.loginBox input[type='password']:hover,
.loginBox input[type='text']:hover,
.loginBox input[type='password']:focus,
.loginBox input[type='text']:focus {
    transition: .2s ease-in-out 0s;
    width: 78%;
    background-color: #FFF;
    box-shadow: 0px 0px 0px 2px var(--blue);
}

.channelsManager input[type='text']:disabled:hover,
.loginBox input[type='password']:disabled:hover,
.loginBox input[type='text']:disabled:hover,
.loginBox input[type='password']:disabled,
.loginBox input[type='text']:disabled {
    transition: .5s ease 0s;
    background-color: var(--disable);
    color: white;
    cursor: not-allowed;
    width: 75%;
    text-align: center;
    box-shadow: none;
}

.channelsManager input[type='text'],
.loginBox input[type='password'],
.loginBox input[type='text'] {
    margin-top: 5px;
    border-radius: 20px;
    width: 75%;
    height: 25px;
    padding: 2px 10px 2px 10px;
    font-size: 16px;
    background-color: #d0d0d0;
    transition: .2s ease-in-out;
}

.loginBox .help {
    display: inline-flex;
    width: 75%;
    justify-content: end;
}

.loginBox .help p {
    margin-top: 8.5px;
    margin-bottom: 10px;
    font-size: 13.5px;
    text-align: center;
    color: var(--blue);
    font-weight: 200;
    text-decoration: none;
    cursor: pointer;
}

.loginBox .help a {
    text-decoration: none;
}

.loginBox .help a:hover>p {
    color: var(--purple);
    text-decoration: underline;
}

a span.material-icons.help {
    cursor: pointer;
    color: #0268ac;
    position: fixed;
    right: 17em;
    font-size: 30px;
    transition: .3s ease 0s;
    top: 100px;
}

a span.material-icons.help:hover {
    position: fixed;
    color: #0097fc;
    font-size: 30px;
    transition: .3s ease 0s;
    right: 17em;
    font-size: 30px;
    transition: .3s ease 0s;
    top: 100px;
}

a span:hover::after {
    content: 'Tutorial';
    font-size: 15px;
    font-weight: 500;
    font-family: 'OpenSans', sans-serif;
    color: #ffffff;
    top: 73px;
    padding: 5px;
    right: 32.8em;
    padding-inline: 6px;
    position: fixed;
    border-radius: 5px;
    background-color: #00000085;
    border: 1px solid #0268ac;
    transition: .1s ease 0s;
}

/************************************************
********************[Botão Login]***************
************************************************/
.UserWrapper input[type="button"],
.loginBox input[type="button"] {
    color: #FFF;
    border: 1px solid #0066aa;
    background-color: #0268acc5;
    border-radius: 15px;
    font-size: 18px;
    width: 30%;
    height: 30px;
    vertical-align: middle;
    cursor: pointer;
    transition: .5s ease 0s;
}

.UserWrapper input[type="button"] {
    width: 50%;
}

.UserWrapper .btnSair {
    display: flex;
    justify-content: center;
}

.UserWrapper input[type="button"]:hover,
.loginBox input[type=button]:hover {
    color: #FFF;
    background-color: #0184db;
    border: 1x solid #42b3ff;
    cursor: pointer;
    transition: .5s ease 0s;
}

/* Msg Status & Barra de Count de Canais */
#msgStatus {
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    font-weight: normal;
    font-size: 15px;
}

#cnCount {
    margin: 10px auto;
    font-size: 15px;
    background-color: #222325;
    border-radius: 15px;
    width: 31%;
    position: fixed;
    left: 109px;
    bottom: 90px;
}

/**************************************************
******** Gerenciar Canais *************************
**************************************************/
.channelsManager {
    width: 40%;
    max-width: 400px;
    height: 185px;
    border-radius: 5%;
    transition: 2s ease 0s;
}

.channelsManager input::placeholder {
    text-align: center;
}

.channelsManager p.title {
    margin-top: 15px;
    font-weight: bold;
}

.UserWrapper .channelsManager {
    text-align: center;
    width: 100%;
    margin-inline: 0px;
    margin-top: 5px;
}

.UserWrapper .channelsManager input[type="button"] {
    width: 40%;
    margin-left: 0px;
    height: 25px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
}

.UserWrapper .channelsManager input[type='text'] {
    width: 80%;
}

.UserWrapper .channelsManager input[type='text']:focus,
.UserWrapper .channelsManager input[type='text']:hover {
    width: 90%;
}

/*************************************************
********Botões Adicionar & Remover Canais*********
*************************************************/
.add {
    color: #FFF;
    background-color: #0c639c;
    border: 1px #0099ff solid;
    transition: .5s ease 0s;
}

.UserWrapper input[type="button"].remove,
.delete,
.remove {
    background-color: #d4414100;
    color: #d44141;
    border: 1px #d44141 solid;
    transition: .5s ease 0s;
}

.add:hover {
    color: #ffffff;
    background-color: var(--blue);
    transition: .5s ease 0s;
}

.UserWrapper input[type="button"].remove:hover,
.delete:hover,
.remove:hover {
    color: #ffffff;
    background-color: var(--red);
    border: 1px #d44141 solid;
    transition: .5s ease 0s;
}

.channelsManager input[type='text']:disabled::placeholder {
    color: white;
    text-align: center;
    cursor: not-allowed;
    transition: .5s ease 0s;
}

.channelsManager input[type='text'] {
    margin-top: 4px;
    border-radius: 20px;
    width: 70%;
    height: 25px;
    padding: 2px 10px 2px 10px;
    font-size: 16px;
    background-color: #d0d0d0;
    transition: .3s ease 0s;
}

.cnFile.block,
.cnFile.block:hover,
.channelsManager input[type='text']:disabled,
.channelsManager input[type='button']:hover:disabled,
.channelsManager input[type='button']:disabled {
    background-color: var(--disable);
    cursor: not-allowed;
    color: #282b30;
    transition: .5s ease 0s;
    border: 1px solid #282b30;
}

.channelsManager input[type='button'] {
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    top: 5px;
    width: 26px;
}

.channelsManager .status {
    font-weight: 300;
    margin-top: 10px;
}

#canalLog i {
    font-size: 23px;
    position: relative;
    top: 5px;
}

/* Botão Carregar Arquivos */
.cnFile {
    font-size: 15px;
    height: 35px;
    width: 180px;
    background: #0099ff54;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s ease 0s;
}

.cnFile:hover {
    transition: 1s ease 0s;
    background-color: #0099ff;
}

.cnFile i {
    position: relative;
    cursor: pointer;
    top: 6px;
}

/**************************************
****************AVATAR*****************
***************************************/
.avatar {
    border-radius: 50%;
    width: 100px;
    box-shadow: 0px 0px 0px 0px;
    pointer-events: none;
    border: 2px solid;
    transition: 1.5s ease-in-out 0s;
}

.version {
    position: fixed;
    z-index: 1;
    bottom: 6px;
    left: 13px;
    font-size: 14px;
    color: #ff5555;
    font-weight: bold;
    cursor: pointer;
}

/**************************************
****************Table de Pings*********
***************************************/
div#mentionsbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#mentionsbar span[name="clearPing"] {
    cursor: pointer;
    display: flex;
    border-radius: 5px;
    margin-right: 10px;
    padding: 0px 5px;
}

#Mtimer {
    background-color: #05558a;
    border-radius: 15px;
    width: fit-content;
    padding-inline: 10px;
    border: .5px solid #0184db;
    position: fixed;
    margin-inline: calc(3em);
    left: 26.5em;
    right: 0em;
}

.mentionsWrapper {
    margin-left: 10px;
}

.mentionsWrapper p {
    font-weight: bold;
}

textarea {
    resize: none;
    border-radius: 0px 0px 10px 10px;
    display: inline-block;
    border: solid red;
    margin: 0px -10px 0px;
    width: 77.9vw;
    height: 80vh;
    background-color: #0c0c0c;
    color: #FFF;
}

@media (min-width: 1080px) {
    textarea {
        height: calc(90vh - 20px);
        width: calc(85vw - 20px);
    }
}

textarea::-webkit-scrollbar {
    width: 14px;
    border-radius: 5px;
}

*::-webkit-scrollbar-track {
    background: #222222;
    border-radius: 5px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #3f3f3f;
    border-radius: 20px;
    border: 1px solid #000000;
    transition: .1s ease-in-out;
}

textarea::-webkit-scrollbar-thumb:hover {
    background-color: #575757;
    transition: .1s ease-in-out;
}

/********************************
*********NOTIFICAÇÕES************
*********************************/
.NotifyWrapper {
    margin-top: 10px;
    text-align: center;
}

.NotifyWrapper p .title {
    font-weight: 700;
    font-size: 12px;
}

.NotifyWrapper switch_container {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

switch_container div {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
}

switch_container div p {
    margin-inline: 5px;
}

.UserWrapper .channelsManager .beta,
p.beta {
    font-size: 11px;
    color: #ff5555;
    font-weight: bold;
    width: 0px;
    position: relative;
    margin-left: -25px;
    bottom: 12px;
    left: 20px;
}

span.sgSom {
    cursor: pointer;
    position: relative;
    width: 0px;
    color: #a5a5a5;
    font-size: 22px;
    top: 0px;
}

span.sgSom:hover {
    transition: .3s ease 0s;
    color: #f8f8f2;
}

.switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
    cursor: pointer;
    user-select: none;
}

.switch+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.switch--shadow+label {
    padding: 2px;
    width: 40px;
    height: 20px;
    border-radius: 60px;
}

.switch--shadow:disabled+label,
.switch--shadow:disabled+label::before,
.switch--shadow:disabled+label::after {
    cursor: not-allowed;
    background-color: var(--disable);
    border: none;
}

.switch--shadow+label:before,
.switch--shadow+label:after {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: '';
}

.switch--shadow+label:before {
    right: 1px;
    right: 1px;
    border-radius: 60px;
    background-color: #9a9a9a;
    border: 1px solid #f1f1f1;
    transition: all 0.4s;
}

.switch--shadow+label:after {
    width: 18px;
    background-color: #9148ff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}

.switch--shadow:checked+label:before {
    background-color: var(--purple);
    border: 1px solid #731cf5;
}

.switch--shadow:checked+label:after {
    background-color: #ffffff;
    transform: translateX(20px);
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#jc_Status {
    visibility: hidden;
    min-width: 250px;
    min-height: 54px;
    margin-left: -134px;
    background-color: #0c639c;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 5;
    left: 50%;
    bottom: 20%;
}

#jc_Status.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.75s;
    animation: fadein 0.5s, fadeout 0.5s 2.75s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 20%;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 20%;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 20%;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 20%;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

p#jc_Help {
    color: #f1cd17d7;
    cursor: pointer;
    position: fixed;
    font-size: 24px;
    z-index: 85;
    left: 175px;
}

p#jc_Help:hover {
    color: #ffd502;
}